@model List<SubscriptionType>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">SubscriptionTypes</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="SubscriptionType" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp; Create New SubscriptionType
            </a>
        </div>
    </div>
    <br />

    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Title
                </th>
                <th>
                    Image
                </th>
                <th>
                    Description
                </th>
                <th>
                    Price
                </th>
                <th>
                    DiscountAmount
                </th>
                <th>
                    Subscriptions
                </th>
                <th>
                    NumberOfDiscount
                </th>
                <th>
                    CartDiscountPercentage
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var obj in Model.OrderByDescending(i => i.Price))
            {
                <tr>
                    <td>
                        @obj.Title
                    </td>
                    <td>
                        <img src="~/@obj.Image" class="card-img-top rounded" height="80px" />
                    </td>
                    <td>
                        @obj.Description
                    </td>
                    <td>
                        @obj.Price
                    </td>
                    <td>
                        @obj.DiscountAmount%
                    </td>
                    <td>
                        @obj.Subscriptions.Count()
                    </td>
                    <td>
                        @obj.NumberOfDiscount
                    </td>
                    <td>
                        @obj.CartDiscountPercentage%
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-route-id="@obj.Id" asp-controller="SubscriptionType" asp-action="Edit"
                               class="btn btn-primary mx-2">
                                <i class="bi bi-pencil-square"></i>Edit
                            </a>
                        </div>
                    </td>
                    <td>
                        <div class="w-75 btn-group" role="group">
                            <a asp-route-id="@obj.Id" asp-controller="SubscriptionType" asp-action="Delete"
                               class="btn btn-danger mx-2">
                                <i class="bi bi-trash-fill"></i>Delete
                            </a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>